In [19]:
## loading the pickle files
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [20]:
## load the ann train model
model = load_model('model.h5')

## load the encoders and scaler
with open('label_encode_gender.pkl','rb') as file:
    label_encode_gender = pickle.load(file)

with open('onehotencoder_geo.pkl','rb') as file:
    onehotencoder_geo = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [21]:
## Example input data
input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'EstimatedSalary' : 50000
}

In [22]:
input_data = pd.DataFrame([input_data])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,50000

In [23]:
## encoding Geography field of input data
geo_encoder = onehotencoder_geo.transform(input_data[['Geography']]).toarray()
geo_encoded_columns = pd.DataFrame(geo_encoder,columns=onehotencoder_geo.get_feature_names_out(['Geography']))
geo_encoded_columns

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [24]:
## encoding Gender values of the input data
input_data['Gender'] = label_encode_gender.transform(input_data['Gender'])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,EstimatedSalary
0,600,France,1,40,3,60000,2,1,50000